<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background: #CA3333;
      }
      </style>
  </head>
  <body>
    <p>
      Guess a number between 1-100
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
      <% if message == "You got it right!" %>
        The SECRET NUMBER is <%= guess %>
        <style>
            body {
              background: green;
            }
          </style>
      <% elsif message == "Way too low!" || message == "Way too high!" %>
        <style>
          body {
            background: #FA2B2B;
          }
        </style>
      <% elsif message == "Too low!" || message == "Too high!" %>
        <style>
          body {
            background: #EAC5C5;
          }
        </style>
      <% end %>
    </p>
    <p><%= guess_message %></p>
  </body>
</html>
